/*******
GENERAL
*******/

/*set font for website*/
body {
    font-family: 'Bebas Neue', 'Bungee', 'Heebo', 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    position: relative;
}

#mainDiv {
    width: 60%;
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    margin-left: 20%;
    padding-bottom: 100%;

}

#menu {
    align-content: center;
}

/*remove underlines from links*/
a {
    text-decoration: none;
}

/*remove all bullet points*/
ul {
    list-style: none;
}

/* images 100% of their container*/
img {
    max-width: 100%;
}

/*set wrapper*/
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

h1 {
    font-size: 1.75em;
    font-weight: 400;
    margin: 20px 0 0 10px;
    padding-bottom: 15px;
}

h2 {
    font-family: 'Bungee';
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#nav {
    display: flexbox;
    align-content: center;
}

ul {
    text-align: center;
    font-family: 'Bungee';
    font-size: .75em;
    align-content: center;
    margin: 0 0 50px -40px;
}

li {
    display: inline;
    align-content: center;
}

#about {
    margin: 0 0 0 40px;
}

body {
    background: url('../img/4446627.webp') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
}

/* Dropdown List*/
.dropdown_list {
    margin: auto;
    text-align: center;

}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
    width: 145px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#submitBtn {
    font-family: 'Bungee';
    font-size: .60em;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#gif {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    margin-left: -250px;
}

#img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    padding-top: 75px;
}

/* Mobile First media query */

@media only screen and (max-width: 800px) {
    h2 {
        font-size: .70em;
    }

    #logo {
        font-size: 15px;
        text-align: center;
    }

    .dropdown_list {
        display: flexbox;
        margin: 25px;

    }

    #submitBtn {
        font-family: 'Bungee';
        font-size: .5em;
        display: flexbox;
        margin: auto;
        justify-content: center;
    }

    ul {
        margin: 0 0 0 -45px;

    }

    li {
        margin: 4px;
    }

    p {
        font-size: .5em;
        text-align: center;
    }

    #gif {
        display: none;
        margin: auto;
        text-align: center;
    }

    #img {
        display: flexbox;
        justify-content: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 50px;
    }

}